@import 'global.css';
@import 'variable.css';
@import 'prism-theme.css';
@import 'typography.css';
@import 'post-list.css';
@import 'hero.css';
@import 'header.css';
@import 'footer.css';
@import 'post.css';
@import 'about.css';

.layout-wrapper {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: auto minmax(0, 1fr) auto; */
  min-height: 100vh;
}

.main {
  width: 100%;
  display: flex;
  padding-bottom: 4rem;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  min-width: 0;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

details {
  padding: 1rem;
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

details:nth-child(odd) {
  /* background: #f2fdff; */
  background: #fffcfc;
}

details:nth-child(even) {
  /* background: #f2fff3; */
  background: #fafffe;

}

summary * {
  display: inline;
}

summary {
  cursor: pointer;
  margin-bottom: 0.5rem;
}
